.navbar {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: color 0.2s; 
  &:hover {
    text-decoration: underline;
  }
}

.active {
  background-color: #555;
  border-radius: 5%;
}
